package templates

templ Layout(title string) {
	<!DOCTYPE html>
	<html>
	<head>
		<title>{ title }</title>
		<link rel="stylesheet" href="/alumkit/alumkit.css"/>
		<link rel="stylesheet" href="/assets/app.css"/>
	</head>
	<body>
		{ children... }
		<script src="/alumkit/sortable.min.js"></script>
		<script src="/assets/app.js"></script>
	</body>
	</html>
}
